* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: ScheherazadeRW;
    src: url(/static/font/Scheherazade-Regular.woff);
}

.font-scheheraza {
    font-family: 'Scheheraza', 'Helvetica Neue', "Helvetica Neue", "Helvetica", sans-serif;
}

body {
    font-family: 'PT Sans', "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 100%;
    background-color: rgb(229, 221, 255);
}

.arabic-text {
    font-family: ScheherazadeRW, "Helvetica Neue", "Helvetica", sans-serif;
}

p.arabic-text {
    font-size: 1.8em;
    line-height: 1.5em;
}

.nav-button {
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    width: 40%;
    color: darkmagenta;
    background-color: rgb(221, 215, 247);
    line-height: 1.8em;
}

@media only screen and (max-width : 425px) {
    .nav-button {
        width: 50%;
        font-size: 1.25em;
        line-height: 1.6em;
    }
}

.surah-nav .nav-button.left {
    border-bottom-right-radius: 1em;
    padding-left: 0.2em;
    float: left;
}

.surah-nav .nav-button.left .triangle {
    border-right: 0.4em solid #B72D41;
    margin-right: 0.2em;
}

.surah-nav .nav-button.right {
    border-bottom-left-radius: 1em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.surah-nav .nav-button.right .triangle {
    border-left: 0.4em solid #B72D41;
    margin-left: 0.2em;
}

.nav-button:hover {
    color: #B72D41;
}

.triangle {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-radius: 3px;
    transition: all 0.3s ease;
}

body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

h1 {
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 0.6em;
}

@media (min-width: 43.75em) {
    h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
        line-height: 1.05;
    }
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
    margin-bottom: 0.55em;
}

@media (min-width: 43.75em) {
    h2 {
        font-size: 2em;
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h2 {
        font-size: 2.25em;
        line-height: 1.25;
    }
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
    margin-bottom: 0.5em;
}

@media (min-width: 43.75em) {
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h3 {
        font-size: 1.75em;
        line-height: 1.25;
    }
}

h4 {
    font-size: 1.125em;
    line-height: 1.11111111;
}

@media (min-width: 43.75em) {
    h4 {
        line-height: 1.22222222;
    }
}

*[dir="ltr"] { direction: ltr; unicode-bidi: embed; }

*[dir="rtl"] { direction: rtl; unicode-bidi: embed; }

bdo[dir="ltr"] { direction: ltr; unicode-bidi: bidi-override; }

bdo[dir="rtl"] { direction: rtl; unicode-bidi: bidi-override; }

nav {
    display: none;
}

.title {
    text-align: center;
}

.ayah:not(:last-child) hr {
    width: 100%;
    height: 0;
    border-width: 0.2em;
    border-color: rgb(221, 215, 247);
    margin-bottom: 0;
}

.ayah:last-child hr {
    display: none;
}

.ayah-num {
    width: 4em;
    font-size: 1.3em;
    padding: 0.1em 0.3em;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    border-bottom-right-radius: 1em;
    background-color: rgb(221, 215, 247);
    color: darkmagenta;
}

.content {
    width: 75%;
    padding-top: 0.5em;
    vertical-align: top;
    display: inline-block;
}
@media only screen and (max-width : 413px) {
    .content {
        width: 100%;
    }
}

.content p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content p:not(:first-child) {
    font-size: 1.15em;
}

.surah {
    max-width: 44em;
    margin: 0 auto;
    padding-bottom: 2em;
}

/* Clearfix: contain floats */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Page furniture */
article {
    font-size: 1em;
    line-height: 1.25;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5em;
    background-color: rgb(248, 248, 255);
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
    overflow: hidden;
}
@media (min-width: 43.75em) {
    article {
        font-size: 1em;
        line-height: 1.375em;
        max-width: 960px;
    }
}
@media (min-width: 56.25em) {
    article {
        max-width: 1050px;
    }
}
@media (min-width: 81.25em) {
    article {
        max-width: 1200px;
    }
}
