{{ define "ayah" }}
<div class="ayah">
	<div class="ayah-num" data-ayah-id="{{- .Number -}}">{{ .NumberInSura }}</div><!--
	--><div class="content">
	{{ template "ayahAr" . -}}
	{{- template "ayahEn" . -}}
	</div>
	<hr />
</div>
{{ end }}