{{ define "navigation" }}
	<div>
		{{ if ne .PrevSura.EnglishName "" }}
			<a href="/{{ .Edition }}/{{ .PrevSura.SuraPath }}">
				{{ .PrevSura.EnglishName }}
			</a>
		{{ end }}

		{{ if ne .NextSura.EnglishName "" }}
			<a href="/{{ .Edition }}/{{ .NextSura.SuraPath }}">
				{{ .NextSura.EnglishName }}
			</a>
		{{ end }}
	</div>
{{ end }}