{{ define "surah" }}
<article class="surah">
	{{ template "title" .SurahWrap }}
	{{ range .SurahWrap.Ayaat }}
		{{ template "ayah" . }}
	{{ end }}
	{{- template "navigation" . -}}
</article>
{{ end }}